body{
    margin: 0px;
    padding: 0px;
}
.row1{
    width: 100%;
    height: 500px;
    background-image: url(Images/New-1.jpg);
    background-size: cover;
    overflow: hidden;
}
.text1{
    cursor: pointer;
    color: white;
}
.text1:hover{
    color: rgb(1, 105, 32);
}
.row2{
    align-items: center;
    text-align: center;
    padding-top: 5rem;
   
}
.text-3{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.row3{
    align-items: center;
    text-align: center;

}
.text-4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}
.row4{
    align-items: center;
    text-align: center;

}
.Textfield{
    width: 400px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border-color: thistle;
    background-image: url(Images/icons8-search-24.png);
    background-repeat: no-repeat;
    background-size: 2.3rem;
    
    /* background-position:; */
    outline: 0;
    cursor: pointer;

}

/* bodypart */
/* .container{
    margin-top: auto;
    background: rgb(255, 255, 255);
}
.row{
    text-align: center;
    margin-top: 40px;
   height: 500px;
   background: rgb(255, 255, 255);
   
  
}

.card{
    height: auto;
    width: auto;
    border-radius: 10px;

}

.card-img-top{
    width: auto;
    height: 15rem;
    border-radius: 2rem;

}
.rowone{
    text-align: center;
    margin-top: 40px;
   height: 900px;
   background: rgb(248, 155, 155);

} */

.Image1{
    width: 100%;
    height: auto;
    
    /* height: 7rem; */
}
.card{
    border-radius: 13px;
    min-height: 22rem;
}
.card-img-top{
    border-radius: 5px;
    height: auto;
}
.d-block{
    width: 100%;
    
}
.button{
    width: 100%;
    height: 3rem;
    cursor: pointer;
    
}
.Textlast{
    font-family:sans-serif;
    font-weight: bold;
    font-size: 3rem;
}
.Company{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}
.innertext{
    color: rgb(73, 73, 73);
    font-size: 15px;
    cursor: pointer;
    font-weight: lighter;

}
.innertext:hover{
    color: rgb(250, 14, 14);
}
.hr{
    color: black;
    font-weight: 700;
}
.image-fluid{
    width: 3rem;
    height: auto;
    cursor: pointer;
}
.image-fluid:hover{
    transform: scale(1.05);
    transition: 0.7s ease;
}
.w-75:hover{
    transform: scale(1.05);
    transition: 0.7s ease;

}
.h6{
    color: rgb(104, 104, 104);
    font-size: 15px;
}
.phoneimage {
    width: 30%;
    height: auto;
}
.innerSection{
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    margin-top: 3rem;
}
.AppText{
    font-family:Okra, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 44px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-left: 2rem;
}
.innerSection1{
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
}
.TextFile{
    font-family:Okra, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.Innersection2{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
}
.Emailpart{
    float: left;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 17px;
    font-weight: lighter;


}
.Phonepart{
    float: left;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 17px;
    font-weight: lighter;

}
.Radiobutton{
    width: 20px;
    height: 20px;  
    fill: brown;
    /* background-color; */
   
}
.Emailpart input{
    /* background:red; */
    
    fill: brown !important;
}
.innersection3{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
}
.Button1{
    padding-left: 2rem;
    padding-top: 1rem;
}
.ButtonClass{
    width: 40%;
    height: 2.5rem;
    border-radius: 5px;
    border: aliceblue;
    background-color: rgb(214, 214, 214);
    float: left;
    cursor: pointer;

}
.Button2{
    padding-top: 0px;

}
.ButtonClass1{
    width: 20%;
    height: 2.5rem;
    border-radius: 5px;
    float: left;
    text-align: center;
    margin-left: 1rem;
    background-color: rgb(245, 75, 75);
    cursor: pointer;
    border: 0px;
    color: white;

}
.ButtonClass1:hover{
    transform: scale(1.05);
    transition: 1s ease;

}
.innersection4{
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    
}
.Download{
    font-family:Okra, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-top: 2rem;
    color: rgb(145, 145, 145);

}
.innersection5{
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
}
.Imagep{
    width: 15%;
    height: auto;
    padding-top: 1.5rem;
    padding-left: 2rem;
    cursor: pointer;
}
.Imagep:hover{
    transform: scale(1.05);
    transition: 1s ease;

}
.firstdiv{
    float: left;
    

}
.Seconddiv{
    
    

}
.Buttonradio{
    cursor: pointer;

}
.Searchspace{
    width: 15rem;
    height: 2.3rem;
    border-radius: 5px;
    border-color: rgb(153, 153, 153);
}
/* .Searchbuton{
    margin-left: 2rem;
    padding-left: 2rem;
} */
.Searchinput{
    float: left;
    
    
}
.btn{
    
}
.Searchbuton button{
    margin-left: -3rem;
    


}
.textd{
    color: rgb(95, 95, 95);
}
.logo{
    width: 25%;
    
    height: auto;
}
.phoneimage{
    width: 100%;
    height: auto;
}
.zom {
    margin: auto;
}
.bi{
    font-size: 30px;
    line-height: 22px;
    padding-left: 4px;
}
@media(min-height:600px){
    .phoneimage{
        width: 60%;
    }
}
